#%SED_GAWK_PATH%

# ------------------------------------------------------------
# gawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check <vrf main><snmp> cust block (trusted communities,authorization,destination)
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
    cust = "";
    pass = 1;
    block = 0;
}

/^vrf main$/ {
    block = 1;
    next;
}

/^%SED_BK_WIND%snmp$/ && block {
    block = 2;
    next;
}

/^%SED_BK_WIND%{2}community[ ].*$/ && block == 2 {
    next;
}

/^%SED_BK_WIND%{3}(identifier|traps).*$/ && block == 2 {
    cust = $0;
    next;
}

/^%SED_BK_WIND%{3}destination/ && block == 2 {
    if (match($0, /community (public|private)$/) || !match($0, /[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+/) || !match($0, /port 162[ ]/)) {
        print_err("snmp_custforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> cust block not compliant / destination not compliant : "$0, FNR, "high", "error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%{4}authorization.*$/ && block == 2 {
    if (!match($0, /read-only$/)) {
        print_err("snmp_custforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> cust block not compliant / forbidden authorizationi : "$0, FNR, "high", "error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%{4}destination.*$/ && block == 2 {
    if (!match($0, /[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+/)) {
        print_err("snmp_custforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> cust block not compliant / forbidden ip address : "$0, FNR, "high", "error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%{4}community[ ].*$/ && block == 2 {
    if (match($0, /(private|public)$/)) {
        print_err("snmp_custforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> cust block not compliant / forbidden snmp community : "$0, FNR, "high", "error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%(\.\.|exit|[^ ])/ {
    block = 1;
    next;
}

/^(\.\.|exit|[^ ])/ {
    block = 0;
    next;
}

ENDFILE {
    if (pass) {
        print_err("snmp_custforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> cust block is compliant", FNR, "high", "pass");
    }
}

END {
}
