#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : global_snmpforbidcommunity_notset.6wind-linux.gawk
# @supplier : 6wind-linux
# @purpose : check if <vrf main><snmp> block is compliant (trusted community, authorization, enabled true)
# @description : use of default or forbidden SNMP communities (public, private) or read-write authorization could expose the device to unauthorized access or configuration changes
# @actions : missing statements should be added to the configuration or setup exceptions (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 1.6.1 | Ensure SNMP is securely configured | SNMP
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
    pass = 1;
    block = 0;
    enable = 1;
}

/^vrf main$/ {
    block = 1;
    next;
}

/^%SED_BK_WIND%snmp$/ && block {
    block = 2;
    next;
}

/^%SED_BK_WIND%{2}community[ ]/ && block == 2 {
    if (match($0, /(public|private)$/)) {
        print_err("global_snmpforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> block not compliant / forbidden snmp community "rm_blank_before($0), FNR, "high","error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%{2}enabled true$/ && block == 2 {
    enable = 0;
    next;
}

/^%SED_BK_WIND%{3}authorization/ && block == 2 {
    if (!match($0, /read-only$/)) {
        print_err("global_snmpforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> block not compliant / forbidden authorization : "rm_blank_before($0), FNR, "high", "error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%(\.\.|exit|[^ ])/ {
    block = 1;
    next;
}

/^(\.\.|exit|[^ ])/ {
    block = 0;
    next;
}

ENDFILE {
    if (enable) {
        print_err("global_snmpforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> block not compliant / enabled true is not set", FNR, "high", "error");
        pass = 0;
    }
    if (pass) {
        print_err("global_snmpforbidcommunity_notset.6wind-linux.gawk", "<vrf main><snmp> block is compliant", FNR, high, "pass");
    }
}

END {
}
