#%SED_GAWK_PATH%

# ------------------------------------------------------------
# gawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check <system><auth> block (trusted users)
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
    pass = 1;
    block = 0;
}

/^system$/ {
    block = 1;
    next;
}

/^%SED_BK_WIND%auth$/ && block {
    block = 2;
    next;
}

/^%SED_BK_WIND%{2}user[ ]/ && block == 2 {
    if (!match($0, /(admin)$/)) {
        print_err("system_authcompliant_set.6wind-linux.gawk", "<system><auth> block not compliant / bad user : "$0, FNR, "high", "error");
        pass = 0;
    }
    next;
}

/^%SED_BK_WIND%(\.\.|exit|[^ ])/ {
    block = 1;
    next;
}

/^(\.\.|exit|[^ ])/ {
    block = 0;
    next;
}

ENDFILE {
    if (pass) {
        print_err("system_authcompliant_set.6wind-linux.gawk", "<system><auth> block is compliant", FNR, "high", "pass");
    }
}

END {
}

