#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : firewall_enable_set.juniper-junos.gawk
# @supplier : juniper-junos
# @purpose : check if <firewall> is set
# @description : missing firewall configuration means no packet filtering is applied and the device is exposed to unrestricted traffic
# @actions : configure firewall filter policies to enforce traffic control (please refer to engineering/operations guidelines for further information)
# @nist800-53_ref : SI-2 | System and Information Integrity | Ensure flaw remediation and patching is configured
# @risk_level : high
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 0;
}

/^firewall {/ && !/inactive/ {
	print_err("firewall_enable_set.juniper-junos.gawk",$0,FNR,"high","pass");
        pass = 1;
	nextfile;
}

ENDFILE {
        if ( !pass ) print_err("firewall_enable_set.juniper-junos.gawk","firewall is not set",0,"high","error");
}

END {
}
