#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks if each user-interface vty has ssh inbound set
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

# ----

function acl_summary() {
	if ( sshin == 0 ) {
		print_err("userinterfacevty_sshin_set.huawei-vrp.gawk",userinterface" : ssh inbound is not set",userinterfacenovty,"high","error");
		pass = 0;
	}
}

# ----

BEGIN {
}

BEGINFILE {
	block_vty = 0;
	pass = 1;
}

/^user-interface vty .*$/ {
	if ( block_vty == 1 ) acl_summary();
	userinterface = $0;
	userinterfacenovty = FNR;
	sshin = 0;
        block_vty = 1;
	next;
}

/^ protocol inbound ssh$/ && block_vty == 1 {
	sshin = 1;
	next;
}

/^#$/ && block_vty == 1 {
	acl_summary();
	block_vty = 0;
}

ENDFILE {
	if ( pass ) print_err("userinterfacevty_sshin_set.huawei-vrp.gawk","user-interface vty ssh inbound are set",0,"high","pass");
}

END {
}
