#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check if a <rcmd statement> is not set
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^(ip )?rcmd(s)? / {
	print_err("global_rcmd_notset.cisco-ios.gawk",$0,FNR,"high","error");
        pass = 0;
}

ENDFILE {
        if ( pass ) print_err("global_rcmd_notset.cisco-ios.gawk","rcmd statement is not set",0,"high","pass");
}

END {
}
