#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks if <no ip bootp server> is set
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^no ip bootp server/ {
	print_err("global_noipbootpserver_set.cisco-ios.gawk",$0,FNR,"high","pass");
	pass = 0;
	nextfile;
}

ENDFILE {
	if ( pass ) print_err("global_noipbootpserver_set.cisco-ios.gawk","<no ip bootp server> is not set",0,"high","error");
}

END {
}
