#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : ipsec_oldercryptoalg_notset.cisco-ios.gawk
# @supplier : cisco-ios
# @purpose : check if older crypto algorithms are not set
# @description : older crypto algorithms (md5, 3des, sha1, rc4, tlsv1) are weak and may expose IPsec tunnels to cryptographic attacks
# @actions : replace older crypto algorithms with stronger ones (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 1.7.1 | Ensure IPSec uses strong encryption | Cryptography
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

tolower($0) ~ /%SED_OLD_CRYPTO%/ {
	print_err("ipsec_oldercryptoalg_notset.cisco-ios.gawk",$0,FNR,"high","error");
	pass = 0;
	nextfile;
}

ENDFILE {
        if ( pass ) print_err("ipsec_oldercryptoalg_notset.cisco-ios.gawk","<older crypto algorithm> is not set",0,"high","pass");
}

END {
}
