#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : linevty_sshoutput_set.cisco-ios.gawk
# @supplier : cisco-ios
# @purpose : check if a line vty has <transport output (none|ssh)>
# @description : vty without restricting transport output to ssh or none allows insecure protocols for outbound connections
# @actions : set <transport output ssh> or <transport output none> on line vty (please refer to engineering/operations guidelines for further information)
# @nist800-53_ref : AC-17(1) | Access Control | Ensure monitoring and control of remote access is automated
# @risk_level : high
# @authors : cedric llorens