#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : global_http_notset.huawei-vrp.gawk
# @supplier : huawei-vrp
# @purpose : check if <http(s) server> is not set
# @description : enabled http or https server exposes the device management interface to web-based attacks
# @actions : disable http and https server services if not required (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 2.1.1 | Ensure HTTP server is disabled | Network Protocols
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1 ;
}

/^http(s)? server enable/ {
	print_err("global_http_notset.huawei-vrp.gawk",$0,FNR,"high","error");
	pass = 0;
	nextfile;
}

ENDFILE {
	if ( pass ) print_err("global_http_notset.huawei-vrp.gawk","http server is not set",0,"high","pass");
}

END {
}
