#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check if <no ip icmp redirect> is set
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
    pass = 0;
}

/^no ip icmp redirect$/{
    print_err("global_noipicmpredirect_set.ekinops-oneos.gawk","<no ip icmp redirect> is set : "$0,FNR,"high","pass");
    pass = 1;
    nextfile;
}

ENDFILE {
    if (pass == 0) print_err("global_noipicmpredirect_set.ekinops-oneos.gawk","<no ip icmp redirect> is not set",0,"high","error");
}

END {
}
