#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks <access-list ... > have inconsistentsredundant rules
# ------------------------------------------------------------

# file format ----------------------------------
# test_name        : string
# test_description : string
# action           : permit/deny
# src@             : ip
# src_net@         : cird/netmask	set "none","host","any",[0-9]+,[0-9]+.[0-9]+.[0-9]+.[0-9]+
# port_src         : port_src		set 0 if empty
# port_src_range   : port_src_range	set 0 if empty
# dst@             : ip			set 0 if empty
# dst_net@         : cird/netmask	set "none","host","any",[0-9]+,[0-9]+.[0-9]+.[0-9]+.[0-9]+
# port_dst         : port_dst		set 0 if empty
# port_dst_range   : port_dst_range	set 0 if empty
# protocol         : protocol		set "none" if empty
# file format ----------------------------------

@include %SED_INCLUDE_PATH%
@include %SED_INCLUDE_PATH_FWLIB%

BEGIN {
}

BEGINFILE {
	cawk_init_fw_rules();
	acl = "";
	check = 0;
}

/^access-list [0-9]+ (permit|deny) ([0-9\.]+ [0-9\.]+|any)$/ {
	check = 1;
	if ( acl != $2 ) {
		if ( cawk_fw_rules_assessment() && acl != "" ) {
			print_err("fw_aclstdline_check.cisco-ios.gawk","access-list "acl" has no redundant/inconsistent rules",FNR,"info","pass");
		}
		cawk_init_fw_rules();
	}
	acl = $2;
	cawk_add_fw_rules("fw_aclstdline_check.cisco-ios.gawk","access-list "acl,$3,$4,cawk_netMaskInv($5),0,0,0,0,0,0,"none")
}

/^(!|end)$/ && acl != "" {
	if ( cawk_fw_rules_assessment() ) {
		print_err("fw_aclstdline_check.cisco-ios.gawk","access-list "acl" has no redundant/inconsistent rules",FNR,"info","pass");
	}
	acl = "";
}

ENDFILE { 
	if ( check == 0 ) print_err("fw_aclstdline_check.cisco-ios.gawk","no <access-list [0-9]*> found",FNR,"info","pass");
}

END {
}
