#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks if <enable password> is not set
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
        pass = 1;
}

/^enable password/ {
        print_err("global_enablepassword_notset.cisco-xe.gawk","<enable secret> must be used instead of <enable password>",FNR,"high","error");
        pass = 0;
        next;
}

ENDFILE {
        if ( pass == 1 ) print_err("global_enablepassword_notset.cisco-xe.gawk","<enable password> is not configured",0,"high","pass");
}

END {
}
