#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks <ip access-list standard ...> have inconsistent/redundant rules
# ------------------------------------------------------------
# ------------------------------------------------------------
#

# file format ----------------------------------
# test_name        : string
# test_description : string
# action           : permit/deny
# src@             : ip
# src_net@         : cird/netmask	set "none","host","any",[0-9]+,[0-9]+.[0-9]+.[0-9]+.[0-9]+
# port_src         : port_src		set 0 if empty
# port_src_range   : port_src_range	set 0 if empty
# dst@             : ip			set 0 if empty
# dst_net@         : cird/netmask	set "none","host","any",[0-9]+,[0-9]+.[0-9]+.[0-9]+.[0-9]+
# port_dst         : port_dst		set 0 if empty
# port_dst_range   : port_dst_range	set 0 if empty
# protocol         : protocol		set "none" if empty
# file format ----------------------------------

@include %SED_INCLUDE_PATH%
@include %SED_INCLUDE_PATH_FWLIB%

BEGIN {
}

BEGINFILE {
	cawk_init_fw_rules();
	block_acl = 0;
	acl = "";
	check = 0;
}

/^ip access-list standard [^ ]+$/ {
	if ( cawk_fw_rules_assessment() && acl != "" ) {
		print_err("acl_checkstd_check.cisco-cedge.gawk","access-list "acl" has no redundant/inconsistent rules",FNR,"info","pass");
	}
	cawk_init_fw_rules();

	acl = $4;
	block_acl = 1;
	check = 1;
}

/^[ ] (permit|deny) ([0-9\.]+ [0-9\.]+|any)$/ && block_acl == 1 {
	cawk_add_fw_rules("acl_checkstd_check.cisco-cedge.gawk","access-list "acl,$1,$2,cawk_netMaskInv($3),0,0,0,0,0,0,"none")
}

/^[ ][0-9]+ (permit|deny) ([0-9\.]+ [0-9\.]+|any)$/ && block_acl == 1 {
	cawk_add_fw_rules("acl_checkstd_check.cisco-cedge.gawk","access-list "acl,$2,$3,cawk_netMaskInv($4),0,0,0,0,0,0,"none")
}

/^(!|end)$/ && block_acl == 1 {
	if ( cawk_fw_rules_assessment() && acl != "" ) {
		print_err("acl_checkstd_check.cisco-cedge.gawk","access-list "acl" has no redundant/inconsistent rules",FNR,"info","pass");
	}
	cawk_init_fw_rules();

	block_acl = 0;
	acl = "";
}

ENDFILE { 
	if ( check == 0 ) print_err("acl_checkstd_check.cisco-cedge.gawk","no <ip access-list standard> found",FNR,"info","pass");
}
