#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : global_banner_set.cisco-cedge.gawk
# @supplier : cisco-cedge
# @purpose : check if <banner motd/login/exec> are set
# @description : banners can be used to display important information to users
# @actions : set banners (please refer to engineering/operations guidelines for further information)
# @nist800-53_ref : AC-8 | Access Control | Ensure system use notification banner is configured
# @risk_level : high
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	banner_set = 0;
}

/^banner[ \t]+(login|exec|motd)/ {
	banner_set = 1;
	nextfile;
}

ENDFILE {
	if (banner_set)
		print_err("global_banner_set.cisco-cedge.gawk", "<banner login/exec/motd> is set", 0, "high", "pass");
	else
		print_err("global_banner_set.cisco-cedge.gawk", "<banner login/exec/motd> is not set", 0, "high", "error");
}

END {
}
