#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : global_rcmd_notset.cisco-cedge
# @supplier : cisco-cedge
# @purpose : check if <rcmd> is not set
# @description : rcmd can be used to gain unauthorized access to the device
# @actions : set <no rcmd> or remove <rcmd> (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 2.2.5 | Ensure RCMD is disabled | Network Protocols
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^(ip )?rcmd(s)? / {
	print_err("global_rcmd_notset.cisco-cedge.gawk",$0,FNR,"high","error");
        pass = 0;
}

ENDFILE {
        if ( pass ) print_err("global_rcmd_notset.cisco-cedge.gawk","rcmd statement is not set",0,"high","pass");
}

END {
}
