#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : ssh_setup_set.cisco-cedge.gawk
# @supplier : cisco-cedge
# @purpose : check if <ssh server> is set
# @description : missing ssh server configuration means secure remote management is not available and the device may fall back to insecure protocols
# @actions : configure ssh server parameters (version, timeout, authentication retries) (please refer to engineering/operations guidelines for further information)
# @nist800-53_ref : AC-17(1) | Access Control | Ensure monitoring and control of remote access is automated
# @risk_level : high
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^(ip )?ssh(s)? / {
	print_err("ssh_setup_set.cisco-cedge.gawk",$0,FNR,"high","pass");
        pass = 0;
	nextfile;
}

ENDFILE {
        if ( pass ) print_err("ssh_setup_set.cisco-cedge.gawk","<ssh server> is not set",0,"high","error");
}

END {
}
