#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check if a line vty has <transport input (none|ssh)>
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

# ----

function sshinput_summary() {
	if ( sshinput == 0 ) {
		print_err("line_sshinput_set.cisco-xr.gawk",line" : transport input (none|ssh) is missing",linenovty,"high","error");
		pass = 0;
	}
}

# ----

BEGIN {
}

BEGINFILE {
	block = 0;
	pass = 1;
}

/^line .*$/ && !/console/ {
	if ( block == 1 ) sshinput_summary();
	line = $0;
	linenovty = FNR;
	sshinput = 0;
        block = 1;
	next;
}

/^ transport input (none|ssh)$/ && block == 1 {
	sshinput = 1;
	next;
}

/^!$/ && block == 1 {
	sshinput_summary();
	block = 0;
}

ENDFILE {
	if ( pass ) print_err("line_sshinput_set.cisco-xr.gawk","line vty transport input (none|ssh) are set",0,"high","pass");
}

END {
}
