#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks if a <older crypto algorithm> is not set
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/ 3des/ || / md5/ || / md5 / || / 3des / {
	print_err("ipsec_oldercryptoalg_notset.paloalto-panos.gawk",$0,FNR,"high","error");
        pass = 0;
	nextfile;
}

ENDFILE {
        if ( pass ) print_err("ipsec_olderalgcrypto_notset.paloalto-panos.gawk","<older crypto algorithm> is not set",0,"high","pass");
}

END {
}
