#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : snmp_v1v2forbidcommunity_notset.fortinet-fortios.gawk
# @supplier : fortinet-fortios
# @purpose : check if <snmp v1v2 forbidden communities> are not set
# @description : default or trivial snmp community strings (public, private) can be easily guessed and allow unauthorized device access
# @actions : remove forbidden community strings and replace with non-trivial values or migrate to snmp v3 (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 1.6.3 | Ensure SNMPv1/v2 communities are restricted | SNMP
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1 ;
	block_snmp = 0;
}

/^config system snmp community/ {
	block_snmp = 1;
	next;
}

/^%SED_BK_FORTI%[ ]*set name / && /%SED_SNMP_FORBID_COMMUNITY%/ && block_snmp == 1 {
	print_err("snmp_v1v2forbidcommunity_notset.fortinet-fortios.gawk",rm_blank_before($0),FNR,"high","error");
	pass = 0;	
	nextfile;
}

/^end$/ {
	block_snmp = 0;
}

ENDFILE {
	if ( pass ) print_err("snmp_v1v2forbidcommunity_notset.fortinet-fortios.gawk","snmp v1v2 communities are not forbiden",0,"high","pass");
}

END {
}
