#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : ssh_versionv1_notset.cisco-xr
# @supplier : cisco-xr
# @purpose : check if <ssh version 1> is not set
# @description : ssh version 1 has known cryptographic vulnerabilities and must not be used for remote management
# @actions : set <ip ssh version 2> to enforce ssh version 2 only (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 1.5.2 | Ensure SSH version 2 is used | SSH
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^(ip )?ssh(s)? / && /(version 1|v1)/ {
	print_err("ssh_versionv1_notset.cisco-xr.gawk",$0,FNR,"high","error");
	pass = 0;
	nextfile;
}

ENDFILE {
        if ( pass ) print_err("ssh_versionv1_notset.cisco-xr.gawk","<ssh version 1> is not set",0,"high","pass");
}

END {
}
