#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : global_enablepassword_notset.cisco-ios
# @supplier : cisco-ios
# @purpose : check if <enable password> is not set
# @description : enable password can be used to gain privileged access to the device
# @actions : set enable password (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 1.2.1 | Ensure enable password is used | Authentication
# @authors : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
        pass = 1;
}

/^enable password/ {
        print_err("global_enablepassword_notset.cisco-ios.gawk","<enable secret> must be used instead of <enable password>",FNR,"high","error");
        pass = 0;
        next;
}

ENDFILE {
        if ( pass == 1 ) print_err("global_enablepassword_notset.cisco-ios.gawk","<enable password> is not configured",0,"high","pass");
}

END {
}
