#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check if <no ip finger> is set and <ip finger> is not set
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^no ip finger/ {
	print_err("global_noipfinger_set.cisco-ios.gawk",$0,FNR,"high","pass");
	pass = 0;
	next;
}

/^ip finger/ {
	print_err("global_noipfinger_set.cisco-ios.gawk","<ip finger> is set",0,"high","error");
	next;
}

ENDFILE {
	if ( pass ) print_err("global_noipfinger_set.cisco-ios.gawk","<no ip finger> is not set",0,"high","error");
}

END {
}
