#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subject to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# @test_name : linevty_sshinput_set.cisco-ios
# @supplier : cisco-ios
# @purpose : check if a line vty has <transport input (none|ssh)>
# @description : vty without restricting transport input to ssh or none allows insecure protocols (telnet) for remote management
# @actions : set <transport input ssh> or <transport input none> on line vty (please refer to engineering/operations guidelines for further information)
# @cis_benchmark_ref : 1.4.6 | Ensure SSH is configured on VTY lines | SSH Access
# @authors : cedric llorens