#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check if <ntp access-group> is set
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
}

/^(s)?ntp access-group [^ ]+/ {
	print_err("ntp_access-group_set.cisco-ios.gawk",$0,FNR,"high","pass");
	pass = 0;
	nextfile;
}

ENDFILE {
	if ( pass ) print_err("ntp_access-group_set.cisco-ios.gawk","<ntp access-group> is not set",0,"high","error");
}

END {
}
