#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check if <aaa> is set
# author  : cedric llorens
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
    aaa_authentication = 0;
    aaa_authorization = 0;
    aaa_accounting = 0;
}

/^aaa authentication / {
	aaa_authentication = 1;
        print_err("aaa_config_set.ekinops-oneos.gawk","<aaa> authentication found",FNR,"high","pass");
	next;
}

/^aaa authorization / {
	aaa_authorization = 1;
        print_err("aaa_config_set.ekinops-oneos.gawk","<aaa> authorization found",FNR,"high","pass");
	next;
}

/^aaa accounting / {
	aaa_accounting = 1;
        print_err("aaa_config_set.ekinops-oneos.gawk","<aaa> accounting found",FNR,"high","pass");
	next;
}

ENDFILE {
    if ( aaa_authentication == 0 ) {
        print_err("aaa_config_set.ekinops-oneos.gawk","<aaa> authentication not found",0,"high","error");
    }
    if ( aaa_authorization == 0 ) {
        print_err("aaa_config_set.ekinops-oneos.gawk","<aaa> authorization not found",0,"high","error");
    }
    if ( aaa_accounting == 0 ) {
        print_err("aaa_config_set.ekinops-oneos.gawk","<aaa> accounting not found",0,"high","error");
    }
}

END {
}
