#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check that <password policy> is set
# author  : maxime souris
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
    # password policy rules 
    PWD_MIN_LEN = 15
    PWD_COMPLEXITY = "high"
    PWD_HISTORY = 5
}

BEGINFILE {
    pass = 1;  
}

# ----

/^set password-policy min-length .*/ && $4 < PWD_MIN_LEN {
    print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy length is too short <<"$0">>",FNR,"medium","error");
    pass = 0;
    next;
}

/^set password-policy min-length .*/ && $4 >= PWD_MIN_LEN {
    print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy length is correct <<"$0">>",FNR,"medium","pass");
    pass = 0;
    next;
}

# ----

/^set password-policy complexity .*/ && $4 != PWD_COMPLEXITY {
    print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy complexity not strong enough <<"$0">>",FNR,"medium","error");
    pass = 0;
    if ( $3 > 3) {
        print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy complexity unknown <<"$0">>",FNR,"medium","error");
    }
    next;
}

/^set password-policy complexity .*/ && $4 == PWD_COMPLEXITY {
    print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy complexity is correct <<"$0">>",FNR,"medium","pass");
    pass = 0;
    next;
}

# ----

/^set password-policy history .*/ && $4 != PWD_HISTORY {
    print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy incorrect history checking <<"$0">>",FNR,"medium","error");
    pass = 0;
    next;
}

/^set password-policy history .*/ && $4 == PWD_HISTORY {
    print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy correct history checking <<"$0">>",FNR,"medium","pass");
    pass = 0;
    next;
}

ENDFILE {

    if ( pass ) {
        print_err("global_passwordpolicy_set.checkpoint-fwcli.gawk","password policy not configured <<"$0">>",FNR,"medium","error");
    } 
}

END {
}

