#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks if aaa config is no set
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 0;
}

/^aaa$/ {
	print_err("aaa_config_notset.huawei-vrp.gawk",$0,FNR,"high","pass");
	pass = 1;
	nextfile;
}

ENDFILE {
	if ( !pass ) print_err("aaa_config_notset.huawei-vrp.gawk","aaa config is not set",0,"high","error");
}

END {
}
