#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : check that <ip_ioc_list> is set
# author  : wael elsingaby
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

# local functions ----
function processrule(rule,ioc) {
    for (ip in ioc) {
        if( rule ~ ("source[ ]*" ip) ) {
            ioc[ip] = 1;
        }
    }
}
# local functions ----

BEGIN {
    ioc["10.0.0.0"] = 0;
}

BEGINFILE {
    rule = "";
}

# vars def ----
/^set[ \t]*\w+[ \t]*=/ {
    for (ip in ioc) {
        if( $0 ~ ip ) {
            ioc[ip] = 1;
        }
    }
    next;
}

# rule def ----
/add (access-)?rule / && !/\\$/ {
    processrule($0,ioc);
    next;
}

# multi line rule ----
/add (access-)?rule / && /\\$/ && rule == "" {
    rule = rule $0;
    next;
}

/\\$/ && rule != "" {
    rule = rule $0;
    next;
}

!/\\$/ && rule != "" {
    rule = rule $0;
    processrule(rule);
    rule = "";
    next;
}
# multi line rule ----

ENDFILE {
    pass = 1;
    for (ip in ioc) {
        if (ioc[ip] == 0) {
            print_err("global_ipioclist_set.checkpoint-fwcli.gawk","ioc ip not found <<"ip">>",0,"info","warning");
            pass = 0;
        }
    }
    if (pass == 1) {
        print_err("global_ipioclist_set.checkpoint-fwcli.gawk","all ioc ip are found ",0,"info","pass");
    }
}

END {
}
