#%SED_GAWK_PATH%

# ------------------------------------------------------------
# cawk is subjet to a MIT open-source licence
# please refer to the MIT licence file for further information
#
# for %SED_VAR% change like GAWK_PATH, etc. please refer to
# file support/tests.sed for further information
#
# purpose : checks if snmp v1v2 has no write access
# ------------------------------------------------------------

@include %SED_INCLUDE_PATH%

BEGIN {
}

BEGINFILE {
	pass = 1;
	block_system = 0;
	block_security = 0;
	block_snmp = 0;
}

/^%SED_BK_NOKIA%system/ && block_system == 0 {
	block_system = 1;
	next;
}

/^%SED_BK_NOKIA%{2}security/ && block_system == 1 {
	block_security = 1;
	next;
}

/^%SED_BK_NOKIA%{3}snmp/ && block_security == 1 {
	block_snmp = 1;
	next;
}

/^%SED_BK_NOKIA%{4}community/ && / rw/ && block_snmp == 1 {
	print_err("snmp_v1v2rw_notset.nokia-sros.gawk",rm_blank_before($0),FNR,"high","error");
        pass = 0;
	nextfile;
}

/^%SED_BK_NOKIA%{3}exit$/ && block_snmp == 1 {
	block_snmp = 0;
}

/^%SED_BK_NOKIA%{2}exit$/ && block_security == 1 {
	block_security = 0;
}

/^%SED_BK_NOKIA%exit$/ && block_system == 1 {
	block_system = 0;
}

ENDFILE {
        if ( pass ) print_err("snmp_v1v2rw_notset.nokia-sros.gawk","snmp v1v2 has no write access",0,"high","pass");
}

END {
}
